body {
    font-family: 'Ubuntu', sans-serif;
}
.header {
    width: 100%;
    max-width: 1212px;
    margin: auto;
    padding-left: 12px;
    padding-right: 19px;
    padding-top: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-weight: 700;
}
.wrap {
    width: 100%;
    max-width: 1212px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: #202020;
}
.nav>li>a {
    text-decoration: none;
    color: #202020;
}
.nav_btn {
    background: #5528FF;
    color: #fff;
    width: 100px;
    height: 24px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.nav_btn:hover {
    opacity: 0.8;
}
.nav>li {
    margin-left: 37px;
}
.logo {
    display: flex;
    /* align-items: center; */
    text-decoration: none;
}
.logo_img {
    background-image: url(../img/logo.svg);
    display: block;
    width: 58px;
    height: 58px;
    margin-right: 25px;
}
.logo_text {
    font-weight: 700;
    padding-top: 32px;
    font-size: 24px;
    color: #202020;
}
.title_main {
    font-weight: 700;
    font-size: 55px;
    letter-spacing: 0.88px;
    line-height: 65px;
    color: #202020;
    margin-bottom: 0.4em;
}
.text_main {
    font-size: 32px;
    line-height: 1.6;
    color: #4F4F4F;
    max-width: 746px;
    margin-bottom: 2.2em;
    margin-left: -2px;
}
.button {
    background: #5528FF;
    color: #fff;
    width: 235px;
    height: 60px;
    font-size: 24px;
    line-height: 28px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-left: -5px;
}
.button:hover {
    opacity: 0.9;
}
.page {
    padding-top: 95px;
    padding-bottom: 109px;
    position: relative;
}
.page_top {
    border-top: 1px solid #C2C2C2;
}
.page h2 {
    position: absolute;
    top: -24px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #C2C2C2;
    background-color: #ffffff;
    padding: 5px 0px;
}
.services {
    display: grid;
    grid-template: 50% 50% / 50% 50%;
    grid-row-gap: 38px;
}
.services_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.services_img {
    flex-basis: 165px;
    text-align: center;
}
.services_text {
    flex-basis: calc(100% - 165px);
}
.services h3 {
    font-size: 28px;
    color: #000;
    margin-bottom: 17px;
    margin-top: 0;
}
.services_text p {
    font-size: 14px;
    color: #B2B2B2;
    line-height: 1.5;
    margin-left: 15px;
}
.clients {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 25%);
    grid-gap: 40px;
    text-align: center;
}
.team {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 33%);
    grid-row-gap: 40px;
}
.team_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.team_item h3 {
    font-size: 28px;
    color: #202020;
}
.team_item p {
font-size: 14px;
line-height: 16px;
color: #B2B2B2;
}
.team_item img {
    margin-right: 35px;
}
.team_item>div {
    flex-basis: calc(100% - 100px);
}
.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #F7F7F7;
}
.box_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social {
    list-style-type: none;
    display: flex;
    padding-left: 0;
}
.social>li {
    margin-left: 15px;
}
.social>li>a {
    text-decoration: none;
    color: #B2B2B2;
    font-size: 24px;
    line-height: 28px;
}
